{% for flash in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
        {{ flash }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for flash in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ flash }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{{ form_start(form) }}

    {{ form_widget(form) }}

    <hr/>
    <a class="btn btn-secondary" href="{{ path('cabinet_wine_card_index') }}"><i class="fa fa-arrow-left"></i> назад к списку</a>
    <button class="btn btn-success"><i class="fa fa-check"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
