{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <div class="row">
        <div class="col-12">
            <h3>Products</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Pic</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Pos</th>
                </tr>
                </thead>
                <tbody id="productsTable">
                    {% include 'admin/event/products.html.twig' with { products: row.products } %}
                </tbody>
                <tfoot>
                <tr style="background-color: lightyellow;">
                    <td>-</td>
                    <td>
                        <select id="product_select2" name="event[product]"
                                placeholder="Search..."
                                class="select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                        </select>
                    </td>
                    <td><input id="newProductPrice" type="text" class="form-control"></td>
                    <td><input id="newProductPosition" type="text" class="form-control"></td>
                    <td><button class="btn btn-sm btn-warning" id="addProduct">ADD</button> </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
            {{ form_end(form) }}
        </div>
        <div class="col-4 text-right">
            {{ form_start(delete_form) }}
            <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>
            {{ form_end(delete_form) }}
        </div>
    </div>

    <br />

{% endblock %}
{% block extra_scripts %}
<script>
    $(document).ready(function() {
        $('#addProduct').on('click', function (e) {
            e.preventDefault();

            let product_id = $('#product_select2 option:selected').val();

            $.ajax({
                url: '{{ path('backend_event_ajax_add_product', {id: row.id}) }}',
                data: {
                    'product_id': product_id,
                    'price': $('#newProductPrice').val(),
                    'position': $('#newProductPosition').val(),
                }
            }).done(function(html) {
                // console.log(html);
                $("#product_select2").select2("val", "");
                $('#productsTable').html(html);
                $('#newProductPrice').val('')
                $('#newProductPosition').val('')
                bindRemoveElements();
            });

            return false;
        });

        $('#product_select2').select2({
            ajax: {
                url: '{{ path("backend_ajax_product_search") }}',
                dataType: 'json',
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: data.items
                    };
                }
            }
        });

        $('.select2-container').css({'min-width': '600px'});

        function bindRemoveElements() {
            $('.removeElement').on('click', function (e) {
                e.preventDefault();
                if (!confirm("Вы уверены?")) {
                    return false;
                }

                let tableRowId = $(this).attr('rel');

                $.ajax({
                    url: $(this).attr('href'),
                    error: function () {
                        alert('error!!!');
                    },
                }).done(function() {
                    console.log('remove row: ' + tableRowId);
                    $('#'+tableRowId).remove();
                });

                return false;
            });
        }

        bindRemoveElements();
    });
</script>
{% endblock %}
