{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <style>
        .tableSortable td:hover{
            cursor:move;
        }
    </style>

    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}

    {{ form_row(form.organizer) }}
    {{ form_row(form.name) }}
    {{ form_row(form.dateTime) }}

    <div class="form-group row">
        {{ form_label(form.collagePicFile) }}
        <div class="col-8">
            {{ form_widget(form.collagePicFile) }}
        </div>
        <div class="col-2">
            {% if row.collage %}
                <a data-fancybox="gallery" target="_blank" href="{{ asset('uploads/' ~ row.collage) }}"><img
                            src="{{ asset('uploads/' ~ row.collage) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.announcePicFile) }}
        <div class="col-8">
            {{ form_widget(form.announcePicFile) }}
        </div>
        <div class="col-2">
            {% if row.announcePic %}
                <a data-fancybox="gallery" target="_blank" href="{{ asset('uploads/' ~ row.announcePic) }}"><img
                            src="{{ asset('uploads/' ~ row.announcePic) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="row">
        <div class="col-8">
            <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
            {{ form_end(form) }}
        </div>
        <div class="col-4 text-right">
{#            {{ form_start(delete_form) }}#}
{#            <button class="btn btn-danger delete-button" type="submit"><i class="fa fa-exclamation"></i> Delete</button>#}
{#            {{ form_end(delete_form) }}#}
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-12">
            <h3>Products</h3>
            <table class="table table-striped tableSortable" id="tableProducts">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Pic</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Pos</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbodyProducts">
                {% include 'admin/event/products.html.twig' with { products: row.products } %}
                </tbody>
                <tfoot>
                <tr style="background-color: lightyellow;">
                    <td>-</td>
                    <td></td>
                    <td>
                        <select id="product_select2" name="event[product]"
                                placeholder="Search..."
                                class="select2-hidden-accessible" tabindex="-1"
                                aria-hidden="true">
                        </select>
                    </td>
                    <td><input id="newProductPrice" type="text" class="form-control"></td>
                    <td><input id="newProductPosition" type="text" class="form-control"></td>
                    <td><button class="btn btn-sm btn-warning" id="addProduct">ADD</button> </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Event Gallery</h3>
            <table class="table table-striped tableSortable" id="tableGallery">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Pic</th>
                    <th>Pos</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id="tbodyGalleryPics">
                {% include 'admin/event/pics.html.twig' with { pics: row.eventPics } %}
                </tbody>

                <tfoot>
                <form id="newPicForm" action="" method="post" enctype="multipart/form-data">
                <tr style="background-color: lightyellow;">
                    <th>-<input type="hidden" name="event_id" value="{{ row.id }}"></th>
                    <th><input id="newEventPic" name="newEventPic" type="file" class="form-control"></th>
                    <th><input id="newEventPicPosition" name="newEventPicPosition" type="text" class="form-control"></th>
                    <th><button type="submit" class="btn btn-sm btn-warning" id="addProduct">ADD</button> </th>
                </tr>
                </form>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(e) {
        let fixHelperModified = function(e, tr) {
                let $originals = tr.children();
                let $helper = tr.clone();
                $helper.children().each(function(index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            },
            updateIndex = function(e, ui) {
                $('td.index', ui.item.parent()).each(function (i) {
                    $(this).html(i+1);
                });
            };

        $("#tableProducts").sortable({
            helper: fixHelperModified,
            stop: updateIndex
        }).disableSelection();

        $("tbody#tbodyProducts").sortable({
            distance: 5,
            delay: 100,
            opacity: 0.6,
            cursor: 'move',
            update: function() {
                let pos = [];
                $('.sortableProducts').each(function () {
                    pos.push($(this).attr('data-rel'));
                });

                let url = '{{ path('backend_event_ajax_sort_products', {id: row.id}) }}';

                console.log(pos);
                $.ajax({
                    url: url,
                    data: {'elements': pos}
                }).done(function(html) {
                    console.log(html);
                });

            }
        }); // -- sortable rows!!!

        $("#tableGallery").sortable({
            helper: fixHelperModified,
            stop: updateIndex
        }).disableSelection();

        $("tbody#tbodyGalleryPics").sortable({
            distance: 5,
            delay: 100,
            opacity: 0.6,
            cursor: 'move',
            update: function() {
                let pos = [];
                $('.sortablePics').each(function () {
                    pos.push($(this).attr('data-rel'));
                });

                let url = '{{ path('backend_event_ajax_sort_pics', {id: row.id}) }}';

                console.log(pos);
                $.ajax({
                    url: url,
                    data: {'elements': pos}
                }).done(function(html) {
                    console.log(html);
                });
            }
        }); // -- sortable rows!!!

        $('#newPicForm').on('submit', function (e) {
            e.preventDefault();
            let form = document.getElementById('newPicForm');
            let formData = new FormData(form);
            $.ajax({
                url: '{{ path('backend_event_ajax_add_pic', { id: row.id }) }}',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    $.get('{{ path('backend_event_ajax_render_pics', { id: row.id }) }}', function(html) {
                        $("#tbodyGalleryPics").html(html);
                        bindRemoveElements();
                    });
                },
                error: function (xhr, status, error) {
                    alert('Error! ' + error);
                    console.error(error);
                }
            });
        });

        $('#addProduct').on('click', function (e) {
            e.preventDefault();

            let product_id = $('#product_select2 option:selected').val();

            $.ajax({
                url: '{{ path('backend_event_ajax_add_product', {id: row.id}) }}',
                data: {
                    'product_id': product_id,
                    'price': $('#newProductPrice').val(),
                    'position': $('#newProductPosition').val(),
                }
            }).done(function(html) {
                // console.log(html);
                $('#tbodyProducts').html(html);
                $("#product_select2").select2("val", "");
                $('#newProductPrice').val('')
                $('#newProductPosition').val('')
                bindRemoveElements();
            });

            return false;
        });

        $('#product_select2').select2({
            ajax: {
                url: '{{ path("backend_ajax_product_search") }}',
                dataType: 'json',
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: data.items
                    };
                }
            }
        });

        $('.select2-container').css({'min-width': '600px'});

        function bindRemoveElements() {
            $('.removeElement').on('click', function (e) {
                e.preventDefault();
                if (!confirm("Вы уверены?")) {
                    return false;
                }

                let tableRowId = $(this).attr('rel');

                $.ajax({
                    url: $(this).attr('href'),
                    error: function () {
                        alert('error!!!');
                    },
                }).done(function(html) {
                    console.log('remove row: ' + tableRowId);
                    $('#'+tableRowId).remove();
                });

                return false;
            });
        }

        bindRemoveElements();
    });
</script>
{% endblock %}
