{% for row in pics %}
    <tr class="sortablePics" id="pic_{{ row.id }}" data-rel="{{ row.id }}">
        <td><i class="fa fa-arrows-v"></i></td>
        <td>
            {% if row.pic %}
                <a data-lightbox="gallery" target="_blank" href="{{ asset('/uploads/' ~ row.pic) }}"><img
                            src="{{ asset('/uploads/' ~ row.pic) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}
        </td>
        <td>{{ row.position }}</td>
        <td><a class="btn btn-sm btn-danger removeElement" rel="pic_{{ row.id }}"
               href="{{ path('backend_event_pic_delete', { id: row.id, event_id: row.event.id }) }}">delete</a> </td>

    </tr>
{% endfor %}