<h1>Заказ № {{ order.id }}</h1>
<h4>Ресторан: {{ wineCard.summary }}</h4>
<hr />
<p>Метод доставки: {{ order.delivery }}
<p>Адрес доставки: {{ order.address }}
<p>Примечание: {{ order.note }}
<hr/>
<h4>Состав заказа</h4>

<table cellspacing="0" cellpadding="4" border="1">
    <thead>
    <tr>
        <th>Название</th>
        <th>Объем(л)</th>
        <th>Страна</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Сумма</th>
    </tr>
    </thead>
    {% set totalAmount = 0 %}
    {% for orderItem in orderItems %}
        {% set row = orderItem.offer %}
        <tr>
            <td>
                {{ row.name }}<br />
                <small><strong>{{ row.shortSummary }}</strong></small>
            </td>
            <td>{{ row.volume }}(л)</td>
            <td class="text-center">{{ row.country }}</td>
            <td class="text-right">{{ orderItem.price }}</td>
            <td class="text-center">{{ orderItem.quantity }}</td>
            {% set subTotal = orderItem.quantity * orderItem.price %}
            {% set totalAmount = totalAmount + subTotal %}
            <td class="text-right">{{ subTotal | number_format(2, '.', ',') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="5">Итого:</th>
        <th class="text-right">{{ totalAmount | number_format(2, '.', ',') }}</th>
    </tr>
</table>