{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Edit {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} edit</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <div class="row">
        <div class="col-8">
            <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
            {{ form_end(form) }}
        </div>
        <div class="col-4 text-right">
            <form method="post" action="{{ path('backend_' ~ model ~ '_delete', {'id': row.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ row.id) }}">
                <button class="btn btn-danger delete-button" type="submit"><i
                        class="fa fa-exclamation"></i> Delete</button>
            </form>
        </div>
    </div>

    <br />

{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $('.confirmSubmit').on('click', function (e) {
                e.preventDefault();
                if (confirm('Are you sure?')) {

                    $(this).parent().submit();
                }

                return false;
            })
        });
    </script>
{% endblock %}