<header class="body-header">
    <div class="logo">winedows</div>
    <div class="left">
        <nav class="primary">
            <button type="button" class="burger" title="Развернуть меню"></button>
            <ul class="nav-popup">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Наши клиенты</a></li>
                <li><a href="#">Конструктор карт</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% set cabinet = path('cabinet') %}
        {% else %}
            {% set cabinet = path('app_login') %}
        {% endif %}
        <a href="{{ cabinet }}" class="profile js-popup-auth">Кабинет</a>
        <div class="lang">
            <button class="trigger" type="button" title="Выбрать язык">
                <img src="{{ asset('img/flags/ru.png') }}" alt=""> Рус
            </button>
            <div class="lang-popup">
                <a href="#"><img src="{{ asset('svg/flags/ru.svg') }}" alt=""> Рус</a>
                <a href="#"><img src="{{ asset('svg/flags/gb.svg') }}" alt=""> En</a>
                <a href="#"><img src="{{ asset('svg/flags/de.svg') }}" alt=""> De</a>
            </div>
        </div>
    </div>
</header>