{% extends 'layout_admin.html.twig' %}

{% block title %}
    {{ entity_name }} :: admin
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('backend_dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        <span><i class="fa fa-table"></i> {{ entity_name }}</span>
    </li>
</ol>
{% endblock %}

{% block body %}

    <style>
        img.rounded_svg {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
        }
    </style>

    <h1 class="page-header">{{ entity_name }} list</h1>

    {% include 'admin/flashes.html.twig' %}

    {% if current_filters|length %}
        <div class="alert alert-secondary" role="alert">
            <i class="fa fa-filter"></i> Filters:
            {% for field, filter in current_filters %}
                <span class="badge badge-secondary">{{ field }}: {{ filter }}</span>
            {% endfor %}
            |
            <a href="{{ path('backend_reset_filter', {'model': model}) }}"><i class="fa fa-times"></i> reset all</a>
        </div>
    {% endif %}

    <table class="table table-striped">
        <tr>
            {% for query_field, params in list_fields %}
                {% if params.sortable %}
                    <th{% if pagination.isSorted(query_field) %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, params.title, params.sorting_field) }}
                    </th>
                {% else %}
                    <th>{{ params.title }}</th>
                {% endif %}
            {% endfor %}
            <th>Flag</th>
            <th>-</th>
            <th>Actions</th>
        </tr>

        {# table body #}
        {% for row in pagination %}
            <tr>
                {% for query_field, params in list_fields %}
                    <td>{{ attribute(row, params.row_field) }}</td>
                {% endfor %}
                <td>
                    <img class="rounded_svg" src="{{ asset('svg/flags/' ~ row.codeAlpha2 ~ '.svg') }}" alt="">
                </td>
                <td>
                    <input class="worldPart" data-rel="{{ row.id }}" type="radio"
                           {{ row.worldPart == 'old_world' ? 'checked' : '' }}
                           name="worldPart_{{ row.id }}" value="old_world"> Старый свет <br />
                    <input class="worldPart" data-rel="{{ row.id }}" type="radio"
                            {{ row.worldPart == 'new_world' ? 'checked' : '' }}
                           name="worldPart_{{ row.id }}" value="new_world"> Новый свет
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('backend_' ~ model ~ '_edit', { 'id': row.id }) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i> edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
        <div class="count">
            Total rows: {{ pagination.getTotalItemCount }}
        </div>
    </div>

    <p>
        <a class="btn btn-success" href="{{ path('backend_' ~ model ~ '_new') }}">
            <span class="fa fa-plus" aria-hidden="true"></span> Create a new {{ model }}</a>
    </p>
{% endblock %}


{% block filter_form %}
    {% include 'admin/common/filter_form.html.twig' with {'filter_form': filter_form} %}
{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $('.worldPart').on('click', function () {
                var id = $(this).attr('data-rel');
                var value = $(this).attr('value');

                var url = '{{ path('ajax_country_toggle_field') }}';
                var data = {
                    'id': id,
                    'value': value
                };
                $.ajax({
                    url: url,
                    data: data
                }).done(function(response) {
                    console.log(response);
                });
            })
        })
    </script>
    {% include 'admin/common/filter_form.html.twig' with {'filter_form': filter_form} %}
{% endblock %}
