{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'layout_admin.html.twig' %}

{% block title %}
    Create {{ model }} :: admin
{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/breadcrumb.html.twig' with {'last': 'Edit "' ~ row ~ '"'} %}
{% endblock %}

{% block body %}
    <h1>{{ entity_name }} create</h1>

    {% include 'admin/flashes.html.twig' %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.category) }}
            {{ form_row(form.vendor) }}
            {{ form_row(form.country) }}
            {{ form_row(form.productCode) }}
            {{ form_row(form.name) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.price) }}
            {{ form_row(form.color) }}
            {{ form_row(form.type) }}
            {{ form_row(form.alcohol) }}
            {{ form_row(form.isActive) }}

        </div>
        <div class="col-6">
            {{ form_row(form.foods) }}
            {{ form_row(form.year) }}
            {{ form_row(form.volume) }}
            {{ form_row(form.metaKeywords) }}
            {{ form_row(form.metaDescription) }}


        </div>
    </div>

    {{ form_row(form.content) }}


    <div class="form-group row">
        {{ form_label(form.announcePicFile) }}
        <div class="col-8">
            {{ form_widget(form.announcePicFile) }}
        </div>
        <div class="col-2">
            {% if row.announcePic %}
                <a data-lightbox="gallery" target="_blank" href="{{ asset('uploads/' ~ row.announcePic) }}"><img
                            src="{{ asset('uploads/' ~ row.announcePic) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.contentPicFile) }}
        <div class="col-8">
            {{ form_widget(form.contentPicFile) }}
        </div>
        <div class="col-2">
            {% if row.contentPic %}
                <a data-lightbox="gallery" target="_blank" href="{{ asset('uploads/' ~ row.contentPic) }}"><img
                            src="{{ asset('uploads/' ~ row.contentPic) | imagine_filter('thumb_square_50') }}?q=q" /></a>
            {% endif %}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.extraPicFile) }}
        <div class="col-8">
            {{ form_widget(form.extraPicFile) }}
        </div>
        <div class="col-2">
            {% if row.extraPic %}
                <a data-lightbox="gallery" target="_blank" href="{{ asset('uploads/' ~ row.extraPic) }}"><img
                            src="{{ asset('uploads/' ~ row.extraPic) | imagine_filter('thumb_square_50') }}" /></a>
            {% endif %}
        </div>
    </div>


    {{ form_rest(form) }}

    <hr />

    <div class="row">
        <div class="col-8">
            <a class="btn btn-primary" href="{{ path('backend_' ~ model ~ '_index') }}"><i class="fa fa-arrow-left"></i> Back to the list</a>
            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Create</button>
            {{ form_end(form) }}
        </div>
    </div>

    <br />
    <br />

{% endblock %}
