<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Winedows{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/bs5/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/bs5/scss/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/bs5/css/tuning.css') }}">
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

</head>

<body>

<div class="sidebar">
    <div class="logo">
        <img src="{{ asset('bs5/img/logo.svg') }}" alt="">
        winedows
    </div>
    <div class="filters">
        {{ render(controller('App\\Controller\\Front\\ProductController::renderFilters')) }}
    </div>
</div>

<div class="content">
    <header class="navbar">
        {{ include('front/common/header.html.twig', { showSearchForm: true }) }}
    </header>

    <main class="main">
        {% block body %}
        {% endblock %}
    </main>
</div>


{% block javascripts %}
    <script src="{{ asset('winedows/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('winedows/js/script.js') }}"></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('js/flash-messages.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}

<script>
    function bindRemoveFilters() {
        $('.removeProductFilter').on('click', function () {
            // todo: call remove filter ajax
            var rel = $(this).attr('data-rel');
            var textFilterFields = new Array(
                "product_filter_year",
                "product_filter_price_from",
                "product_filter_price_to"
            );

            if (rel === 'product_filter_name') {
                $('#'+rel).prop('value', null);
                $('#headerSearchField').prop('value', null);
            } else if (textFilterFields.indexOf(rel) != -1) {
                $('#'+rel).prop('value', null);
                console.log('found ' + rel);
            } else {
                $('#'+rel).prop('checked', false);
            }
            $(this).parent().hide();

            submitFilterForm();
        });
    }

    function reloadShordStatistics() {
        $('#shortStatistics').load('{{ path('cabinet_statistics_short') }}' , function() {});
    }

    function submitFilterForm() {
        var options = {
            url:    '{{ path("cabinet_save_filter_product") }}',
            type:   'post',
            success: function(data) {
                if (typeof data.totalFilteredProducts !== 'undefined') {
                    $('#productTotalRows').html(data.totalFilteredProducts);
                }

                $('#productsList').load('{{ path('cabinet_product_index') }}' , function() {
                    bindRemoveFilters();
                    bindWineCardStar();
                });

            },
            error: function () {
                alert('Error!');
            }
        };

        $("#productFiltersForm").ajaxSubmit(options);
    } // submit filter form

    bindRemoveFilters();

    function bindWineCardStar() {
        $('.addToWineCard').click(function () {
            var product_id = $(this).attr('data-rel');
            var url = '{{ path("ajax_product_link_winecard") }}';
            var data = {
                'product_id': product_id
            };

            $.ajax({
                url: url,
                data: data,
                dataType: 'json'
            }).done(function(data) {
                if (data.result == 'added') {
                    showFlash('Добавлено в карту');
                    $('#productWineCardsStar_' + product_id).addClass('active');
                } else if (data.result == 'removed') {
                    showFlash('Удалено из карты');
                    $('#productWineCardsStar_' + product_id).removeClass('active');
                }

                reloadShordStatistics();
            });
        });
    }

    function showFlash(msg) {
        flash( msg, {
            'vPosition' : 'top',
            'clickable' : true,
            'autohide' : true,
            'duration' : 1000
        });
    }

    jQuery(document).ready(function($) {

        bindWineCardStar();

        $('#headerSearchForm').on('submit', function (e) {
            e.preventDefault();
            $('#product_filter_name').prop('value', $('#headerSearchField').prop('value'));
            submitFilterForm();

            return false;
        })

        $("#productFilters .form-check-input, .filterSubmit").on('click', function () {
            submitFilterForm();
        });
    }); // doc ready
</script>

</body>
</html>
