<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Winedows{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/bs5/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/bs5/scss/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/bs5/css/tuning.css') }}">
        <style>
            .pr20 {
                padding-right: 28px;
                overflow: hidden;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

</head>

<body>

<div class="sidebar sidebar_gray">
    <div class="logo">
        <img src="{{ asset('bs5/img/logo.svg') }}" alt="">
        winedows
    </div>
    <div class="filters">
    </div>
</div>

<div class="content black_on_white">
    <header class="navbar">
        {{ include('front/common/header.html.twig', { showSearchForm: false }) }}
    </header>

    <main class="main black_on_white">
        {% block body %}
        {% endblock %}
    </main>
</div>


{% block javascripts %}
    <script src="{{ asset('winedows/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('winedows/js/script.js') }}"></script>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}

</body>
</html>
