{% extends 'layout_front_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block window_title %}WineDows - авторизация{% endblock %}

{% block body %}
    <h4>Авторизация</h4>

    <form method="post" action="{{ path('app_login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for flash in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flash }}</div>
        {% endfor %}
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flash }}</div>
        {% endfor %}

        {% if app.user %}
            <div class="mb-3">
                Вы авторизованы как: {{ app.user.username }}. <a href="{{ path('app_logout') }}">Выйти</a>
            </div>
        {% endif %}

        <div class="form-group">
            <input placeholder="email" type="text" value="{{ last_username }}" name="email" id="inputUsername" class="form-control" required autofocus>
        </div>

        <div class="form-group">
            <input placeholder="password" type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="rememberMe" name="_remember_me">
            <label class="custom-control-label" for="rememberMe"> запомнить меня</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


        <button class="btn btn-success mr-1" type="submit">
            <i class="fa fa-check"></i> войти
        </button>

        <a class="btn btn-primary" href="{{ path('app_register') }}"><i class="fa fa-pencil"></i> регистрация</a>

        {% if error %}
            <a class="alert-warning" href="{{ path('app_forget_password') }}"><i class="fa fa-exclamation-circle"></i> забыли пароль?</a>
        {% endif %}


    </form>

{% endblock %}
