{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{#{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}#}
{% extends 'layout_admin.html.twig' %}

{% block title %}
    Start import, step3 :: admin
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('backend_dashboard') }}"><i class="fa fa-dashboard"></i>  Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('backend_import_index') }}"><i class="fa fa-table"></i>  Imports</a>
        </li>
        <li class="breadcrumb-item">
            <span><i class="fa fa-pencil"></i> Import Step4</span>
        </li>
    </ol>
{% endblock %}

{% block body %}
    <style>
        .table-responsive{
            height: 500px;
            overflow: scroll;
        }
        thead tr:nth-child(1) th{
            color: #fff;
            background-color: #343a40;
            position: sticky;
            top: 0;
            z-index: 10;
        }
    </style>

        <h3>Import YML / step3 / map regions
            <a class="btn btn-secondary" href="{{ path('backend_import_yml_step2', {'id': row.id}) }}">
                <i class="fa fa-arrow-left"></i> Back to step2</a>
            <a class="btn btn-success" href="{{ path('backend_import_yml_step4', {'id': row.id}) }}">
                <i class="fa fa-arrow-right"></i> Next to step4</a>
        </h3>
        <hr />

        {% include 'admin/flashes.html.twig' %}

        <div class="table-responsive">
            <form method="post" action="{{ path('backend_import_yml_new_regions', {'id': row.id}) }}">
                <h2>Map Regions</h2>
                <table class="table table-striped table-bordered">
                    {% for id, ymlRegion in ymlRegions %}
                        {% set found = false %}
                        <tr>
                            <td>{{ id }}</td>
                            <td>({{ ymlRegion.country_name }}) - {{ ymlRegion.name | raw }}</td>
                            <td><select name="country[{{ id }}]" id="">
                                    <option value="">---</option>
                                    {% set ymlRegionLC = ymlRegion.name | lower %}
                                    {% for c_id, c_name in inDbRegions %}
                                        {% set inDbRegionLC = c_name | lower %}
                                        {% if ymlRegionLC in inDbRegionLC %}
                                            {% set found = true %}
                                        {% endif %}
                                        <option value="{{ inDbRegionLC }}"{{ ymlRegionLC in inDbRegionLC ? ' selected' : '' }}>{{ c_name }}</option>
                                    {% endfor %}
                                </select>
                                {% if found == false %}
                                    <input type="checkbox" name="newRegion[{{ id }}]" class="new-region" id="new_region_{{ id }}">
                                    <label for="new_region_{{ id }}">add this</label>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="checkbox" id="checkAllNewRegions"><label for="checkAllNewRegions">check all</label></td>
                    </tr>
                    </tfoot>

                </table>
            </form>

        </div>
    </form>

    {#    {{ form_start(form) }}#}
{#    {{ form_rest(form) }}#}
{#    {{ form_end(form) }}#}


    <br />

    <script>
        $(document).ready(function () {
            $('.delete_row').on('click', function (e) {
                var rel = $(this).attr('rel');
                var $this = $(this);
                // console.log('remove ' + rel);
                $('#' + rel).addClass('alert-danger');
                setTimeout(function() {
                    $('#'+rel).remove();
                    console.log('remove ' + rel);
                }, 200);

            })
        })
    </script>
{% endblock %}
