{% extends 'layout_front_new.html.twig' %}

{% block title %}Event :: {{ row.name }}{% endblock %}

{% block body %}
<main class="body-main">
    <section class="start-screen">
        <div class="h1">Winedows</div>

            <div class="row">
            <div class="col-8">
                <strong>{{ short_date }}</strong> / {{ row.name }} <br>
                {{ row.dateTime | date }} {{ row.address }}
            </div>
            <div class="col-4">
                Партнёры
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Коллаж
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>О событии / Отчёт события</p>
                <p>
                    {{ row.description }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="gallery-wrap col-12">

                <div class="thumbs-wrap">
                    {% for eventPic in row.eventPics %}
                        <a data-fancybox="gallery" target="_blank"
                           href="{{ asset('/uploads/' ~ eventPic.pic) }}"><img
                                    class="img-thumbnail"
                                    src="{{ asset('/uploads/' ~ eventPic.pic) | imagine_filter('thumb_event_pic') }}" /></a>
                    {% endfor %}
                </div> <!-- thumbs-wrap.// -->

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>Поставщики / Продукция / Парнёры</p>
                <div class="thumbs-wrap">
                    {% for eventProduct in row.products %}
                        <div class="col-2 text-center">
                            <a data-fancybox="gallery" target="_blank"
                               href="{{ asset('/uploads/' ~ eventProduct.product.contentPic) }}"><img
                                        class="img-thumbnail"
                                        src="{{ asset('/uploads/' ~ eventProduct.product.contentPic) | imagine_filter('thumb_square_160') }}" /></a>
                            <br>
                            <strong>{{ eventProduct.product.name }}</strong>
                            <br>
                            <strong>{{ eventProduct.price }}</strong>

                        </div>
                    {% endfor %}
                </div> <!-- thumbs-wrap.// -->
            </div>
        </div>

    <br />
    </section>
</main>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function() {

        })
    </script>
{% endblock %}
