{% extends 'layout_front_login.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block window_title %}Winedows / сброс пароля{% endblock %}

{% block body %}
    <h2>Сброс пароля</h2>

    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash }}</div>
    {% endfor %}

    {% for flash in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_rest(form) }}

    <hr />
    <button type="submit" class="btn btn-success">Сбросить пароль</button>

    {{ form_end(form) }}

{% endblock %}
