{% extends 'layout_front_event.html.twig' %}

{% block title %}Мероприятия :: Bigwine{% endblock %}

{% block body %}
    <section class="sec-page sec-calend">
        <div class="container-def">
            <div class="sec-calend__wrap">
                <div class="sec-calend__top calend-top">

                    <div class="calend-top__filt">
                        <div class="calend-top__filt-content">
                            <div class="calend-top__filt-top">
                                <div class="calend-top__filt-title">Фильтра календаря</div>
                                <div class="calend-top__filt-close">
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect y="26.5831" width="37.5942" height="3.41765" rx="1.70883"
                                              transform="rotate(-45 0 26.5831)" fill="#0842B4"/>
                                        <rect width="37.5942" height="3.41765" rx="1.70883"
                                              transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 29 26.5831)"
                                              fill="#0842B4"/>
                                    </svg>
                                </div>
                            </div>

                            <select class="select-el calend-top__select">
                                <option>Огранизатор</option>
                                <option>Поставщик 2</option>
                                <option>Поставщик 3</option>
                                <option>Поставщик 4</option>
                            </select>
                            <select id="citySelector" class="select-el calend-top__select calend-top__select_2">
                                <option value="">Город</option>
                                {% for city in cities %}
                                <option value="{{ city }}" {{ city == currentCity ? 'selected' : '' }}>{{ city }}</option>
                                {% endfor %}
                            </select>
                            <select id="currentMonth" class="select-el calend-top__select calend-top__select_2">
                                {% for mnum, month in months %}
                                    <option value="{{ mnum }}" {{ mnum == currentMonth ? 'selected' : '' }}>{{ month }}</option>
                                {% endfor %}
                            </select>
                            <select id="currentYear" class="select-el calend-top__select calend-top__select_date">
                                {% for year in years %}
                                <option value="{{ year }}" {{ year == currentYear ? 'selected' : '' }}>{{ year }}</option>
                                {% endfor %}
                            </select>
                            <div class="calend-top__filt-bottom"><a class="calend-top__filt-btn btn-def btn-def_2"
                                                                    href="#"><span>Сохранить</span></a>
                                <div class="btn-icon-2 calend-top__filt-reset">
                                    <svg width="27" height="24" viewBox="0 0 27 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.9744 22C20.5114 22 25 17.5228 25 12C25 6.47715 20.5114 2 14.9744 2C9.43735 2 4.94872 6.47715 4.94872 12C4.94872 13.8156 5.43382 15.5182 6.2818 16.9859M2 15.5294L6.2818 16.9859M8.28114 12.4508L6.68382 17.1226L6.2818 16.9859"
                                              stroke="#084ED7" stroke-width="2.7" stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="calend-top__btn btn-def btn-modal" data-modal="#modal-event-org"
                       href="javascript:;"><span>+ Добавить </span></a>

                </div>

                <div class="sec-calend__content">
                    <div class="sec-calend__calend">
                        <div class="calend">
                            <div class="calend__row calend__row_main">
                                <div class="calend__col">
                                    <div class="calend__title">Понедельник</div>
                                </div>
                                <div class="calend__col">
                                    <div class="calend__title">Вторник</div>
                                </div>
                                <div class="calend__col">
                                    <div class="calend__title">Среда</div>
                                </div>
                                <div class="calend__col">
                                    <div class="calend__title">Четверг</div>
                                </div>
                                <div class="calend__col">
                                    <div class="calend__title">Пятница</div>
                                </div>
                                <div class="calend__col weekend">
                                    <div class="calend__title">Суббота</div>
                                </div>
                                <div class="calend__col weekend">
                                    <div class="calend__title">Воскресенье</div>
                                </div>
                            </div>
                            {% set d = 1 %}
                            <div class="calend__row">
                            {% for cday in calendar %}
                                {% if false == cday.event %}
                                    <div class="calend__col {{ cday.isCurrentMonth ? '' : 'disabled' }} {{ cday.isWeekend ? 'weekend' : '' }}">
                                        <div class="calend__date">{{ cday.day }}</div>
                                    </div>
                                {% else %}
                                    <div class="calend__col active eventClick" data-rel="{{ path('front_event_short_view', { slug: cday.event.slug }) }}">
                                        <div class="calend__date">{{ cday.day }}</div>
                                        <div class="calend__title2">
                                            {{ cday.event.name }}
                                        </div>
                                        <div class="calend__time">{{ cday.event.eventTime }}</div>
                                        <div class="calend__points">
                                            <a class="eventShow" href="{{ path('front_event_show', { slug: cday.event.slug }) }}">
                                            <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="2" cy="2" r="2" fill="white"></circle>
                                                <circle cx="9" cy="2" r="2" fill="white"></circle>
                                                <circle cx="16" cy="2" r="2" fill="white"></circle>
                                            </svg>
                                            </a>
                                        </div>
                                    </div>
                                    </a>
                                {% endif %}

                                {% set d = d + 1 %}
                                {% if d > 7 %}
                                    {% set d = 1 %}
                                    </div><!-- class="calend__row" -->
                                    <div class="calend__row">
                                {% endif %}
                            {% endfor %}
                            </div><!-- class="calend__row" -->

                        </div>
                    </div>
                    <div id="eventShortInfo" class="sec-calend__right event-card">
                        {{ render(controller('App\\Controller\\Front\\EventController::thisMonthFirstEvent',
                            { currentYear: currentYear, currentMonth: currentMonth })) }}
                    </div>
                </div>
            </div>
        </div>
    </section>{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $('#organizerForm').on('submit', function (e) {
                e.preventDefault();

                let form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    data: form.serialize(),
                    dataType: 'json',
                    method: 'POST',
                    success: function (data) {
                        $('#popupBody').html('Ваша заявка отправлена, администратор с Вами свяжется!')
                        // $('#modal-event-org').hide('slow');
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                        alert('Ошибка при отправке формы: ' + errorThrown);
                    },
                })
            });

            $('.eventClick').on('click', function (e) {
                e.preventDefault();
                let url = $(this).attr('data-rel');
                $.ajax({
                    url: url
                }).done(function(html) {
                    $('#eventShortInfo').html(html);
                });

                return false;
            }); // event click

            $('#citySelector').on('change', function (e) {
                let month = $('#currentMonth').val();
                let year = $('#currentYear').val();
                let city = $(this).val();
                if ('' != city) {
                    window.location = '{{ path('front_events_calendar') }}?month='+month+'&year='+year+'&city='+city;
                } else {
                    window.location = '{{ path('front_events_calendar') }}?month='+month+'&year='+year;
                }

            });

            $('#currentMonth').on('change', function (e) {
                let month = $(this).val();
                let year = $('#currentYear').val();
                window.location = '{{ path('front_events_calendar') }}?month='+month+'&year='+year;
            });

            // $('.eventClick').on('click', function (e) {
            //     window.location = $(this).attr('data-rel');
            // });
        })
    </script>
{% endblock %}
