{% extends 'layout_front_new.html.twig' %}

{% block title %}Winedows!{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% set winecard_path = path('cabinet_wine_card_index') %}
    {% else %}
        {% set winecard_path = path('app_login') %}
    {% endif %}

    <main class="body-main">
        <section class="start-screen">
            <div class="h1">Winedows</div>
            <div class="slogan">Создай свою винную карту</div>
            <a href="{{ winecard_path }}" class="btn profile js-popup-auth">Конструктор карт</a>
            <div class="circle -circle-1"></div>
            <div class="circle -circle-2"></div>
            <div class="circle -circle-3"></div>
            <div class="circle -circle-4"></div>
            <div class="front-image">
                <img src="{{ asset('img/block1-front.png') }}" alt="">
            </div>
            <div class="text">
                <img src="{{ asset('img/block2-figure.png') }}" alt="" class="figure">
                <div class="h2">Кто мы?</div>
                <div class="content">
                    {{ render(controller('App\\Controller\\Front\\PageController::onlyContent', {'slug': 'who-we-are'})) }}
                </div>
            </div>
            <img src="{{ asset('img/block3.png') }}" alt="" class="simply-img">
        </section>

        <section class="news">
            <div class="flex">
                <div class="main-article">
                    <div class="h2">Новости</div>
                    <div class="line">
                        <div class="date">06.10.2021</div>
                        <a href="#" class="more">Подробнее</a>
                    </div>
                    <div class="brush">
                        Понять почему тут так? Понять почему тут так? Понять почему тут так? Понять почему тут так?
                    </div>
                    <a href="#" class="title">Почему тут так?</a>
                    <div class="excerpt">
                        Понять почему тут так? Понять почему тут так? Понять почему тут так? Понять почему тут так?
                    </div>
                </div>

                {{ render(controller('App\\Controller\\Front\\NewsController::topNews')) }}
            </div>
        </section>

        <section class="clients">
            <div class="h2">Наши клиенты</div>

            {{ render(controller('App\\Controller\\Front\\ClientsController::topClients')) }}
        </section>

        <section class="wines">
            <img src="{{ asset('img/block6.png') }}" alt="" class="bg">
            <div class="circle"></div>
            <div class="text">Перейдите в конструктор карт, выберите вина и создайте свои винные карты.</div>
            <div class="items">
                <div class="item">
                    <a href="#" class="bottle">
                        <img src="{{ asset('img/bottle1.png') }}" alt="">
                        <span class="name">Lorem ipsum</span>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="bottle">
                        <img src="{{ asset('img/bottle2.png') }}" alt="">
                        <span class="name">Lorem ipsum</span>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="bottle">
                        <img src="{{ asset('img/bottle3.png') }}" alt="">
                        <span class="name">Lorem ipsum</span>
                    </a>
                    <a href="{{ winecard_path }}" class="btn profile js-popup-auth">Конструктор карт</a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}

{% block registration_form %}
    {{ render(controller('App\\Controller\\Front\\RegistrationController::renderForm')) }}
{% endblock %}
