{% extends 'layout_front.html.twig' %}

{% block title %}Подтверждение заказа{% endblock %}

{% block body %}

    {% if cartItems|length == 0 %}
        <h3>Ваша корзина пуста, начните <a href="{{ path('cabinet_wine_card_index') }}">наполнять её снова!</a> </h3>
    {% else %}
        <h1>Подтверждение заказа для ресторана:</h1>
        <h4>{{ wineCard.summary }}</h4>

        <hr/>
        <div class="col-10">
            <form action="{{ path('cabinet_wine_card_order', { id: wineCard.id }) }}" method="post">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Объем(л)</th>
                        <th>Поставщик</th>
                        <th>Цена</th>
                        <th nowrap="">Кол-во</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    {% for cartItem in cartItems %}
                        <tr>
                            <td>
                                {{ cartItem.offer.summary }}
                            </td>

                            <td class="text-center">{{ cartItem.offer.volume }} л.</td>
                            <td>{{ cartItem.offer.supplier }}</td>
                            <td class="text-right">{{ cartItem.offer.price | number_format(2, '.', ',') }}</td>
                            <td class="text-center">{{ cartItem.quantity }}</td>
                            <td class="text-right">{{ cartItem.amount | number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5">Итого:</th>
                        <th class="text-right">{{ totalAmount | number_format(2, '.', ',') }}</th>
                    </tr>
                </table>

                <div class="row">
                    <div class="col">
                        <h5>Доставка:</h5>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" name="delivery" id="delivery1"
                                   value="courier" checked>
                            <label class="custom-control-label" for="delivery1">курьером</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" name="delivery" id="delivery2"
                                   value="pickup">
                            <label class="custom-control-label" for="delivery2">самовывоз</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" name="delivery" id="delivery3"
                                   value="logistics company">
                            <label class="custom-control-label" for="delivery3">транспортной компанией</label>
                        </div>

                    </div>
                    <div class="col">
                        <h5>Адрес доставки:</h5>
                        <textarea class="form-control" name="address"></textarea>
                    </div>
                    <div class="col">
                        <h5>Примечание к заказу:</h5>
                        <textarea class="form-control" name="note"></textarea>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary" href="{{ path('cabinet_wine_card_show', { id: wineCard.id } ) }}">
                            <i class="fa fa-arrow-left"></i>
                            назад в винную карту
                        </a>
                    </div>

                    <div class="col text-right">
                        <a id="cancelOrder" class="btn btn-danger"
                            href="{{ path('cabinet_clear_cart', { id: wineCard.id }) }}"><i class="fa fa-warning"></i> Отменить заказ</a>
                        <button class="btn btn-success"><i class="fa fa-cart-plus"></i> Разместить заказ</button>
                    </div>
                </div>

            </form>
        </div>
    {% endif %}

{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        $('#cancelOrder').click(function () {
            return confirm('Вы уверены?');
        });

    });
</script>
{% endblock %}
