{% extends 'layout_front.html.twig' %}

{% block title %}View product{% endblock %}

{% block body %}
    <div class="row">
        <div class="gallery-wrap col-3">
            <div class="img-big-wrap">
                {% if row.announcePic %}
                    <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/' ~ row.announcePic) }}"><img
                                class="img-thumbnail"
                                src="{{ asset('/uploads/' ~ row.announcePic) | imagine_filter('product_preview') }}" /></a>
                {% else %}
                    <img src="{{ asset('images/nopic.png') | imagine_filter('product_preview') }}" />
                {% endif %}
            </div> <!-- img-big-wrap.// -->

            <div class="thumbs-wrap">
                {% if row.contentPic %}
                    <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/' ~ row.contentPic) }}"><img
                                class="img-thumbnail"
                                src="{{ asset('/uploads/' ~ row.contentPic) | imagine_filter('thumb_square_100') }}" /></a>
                {% endif %}

                {% if row.extraPic %}
                    <a data-fancybox="gallery" target="_blank" href="{{ asset('/uploads/' ~ row.extraPic) }}"><img
                                class="img-thumbnail"
                                src="{{ asset('/uploads/' ~ row.extraPic) | imagine_filter('thumb_square_100') }}" /></a>
                {% endif %}
            </div> <!-- thumbs-wrap.// -->

        </div>

        <div class="col-6">
            <h1>{{ row.name }}</h1>

            <table class="table table-striped table-bordered">
                <tr><td>Тип / цвет</td>
                    <td>{{ row.wineSugar }} {{ row.wineColor }}</td>
                </tr>
                <tr><td>Алкоголь(%)</td>
                    <td>{{ row.alcohol }}</td>
                </tr>
                <tr><td>Страна, регион</td>
                    <td>{{ row.country }}, <small>{{ row.region }}</small></td>
                </tr>
                <tr><td>Объем(л)</td>
                    <td>{{ row.volume }}</td>
                </tr>
                <tr><td>Выдержка</td>
                    <td>{{ row.aging }}</td>
                </tr>
                <tr><td>Тип выдержки</td>
                    <td>{{ row.agingType }}</td>
                </tr>
                <tr><td>Тип ферментации</td>
                    <td>{{ row.fermentation }}</td>
                </tr>
                <tr><td>Упаковка</td>
                    <td>{{ row.packing }}</td>
                </tr>
                <tr><td>Темперарура подачи(гр Ц)</td>
                    <td>{{ row.serveTemperature }}</td>
                </tr>
                <tr><td>Декантация</td>
                    <td>{{ row.decantation }}</td>
                </tr>
                <tr><td>Апелясьон</td>
                    <td>{{ row.appellation }}</td>
                </tr>
{#                <tr><td></td>#}
{#                    <td>{{ row. }}</td>#}
{#                </tr>#}
{#                <tr><td>Рейтинги</td>#}
{#                    <td>{{ row.ratings | jsonAsString }}</td>#}
{#                </tr>#}
                <tr><td>Рейтинги</td>
                    <td>
                        <ul>
                            {% for productRating in row.productRatings %}
                                <li>{{ productRating.rating }}: {{ productRating.value }}%</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr><td>Сорт(а) винограда</td>
                    <td>
                        <ul>
                            {% for productGrapeSort in row.productGrapeSorts %}
                                <li>{{ productGrapeSort.grapeSort }}: {{ productGrapeSort.value }}%</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>

            {% if row.offers|length %}
                <h4>Товарные предложения</h4>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Поставщик</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for offer in row.offers %}
                    <tr>
                        <td>{{ offer.summary }}</td>
                        <td>{{ offer.price }}</td>
                        <td>{{ offer.supplier }}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="bg-light border rounded-3 p-3 mb-3">
                    <h4>Нет товарных предложений</h4>
                </div>
            {% endif %}

            <div class="bg-light border rounded-3 p-3 mb-3">
                <h5>Добавить в винные карты ресторанов:</h5>

                {% for wineCard in wineCards %}

                    <div class="custom-control custom-checkbox">
                        <input rel="{{ wineCard.id }}" type="checkbox" class="winecard custom-control-input"
                               id="winecard_{{ wineCard.id }}" {% if wineCard.id in row.winecardIds %}checked{% endif %} />
                        <label class="custom-control-label" for="winecard_{{ wineCard.id }}">{{ wineCard.summary }}</label>
                        <span id="result_{{ wineCard.id }}"></span>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-content-md-center">
            <h4>Описание</h4>
            {{ row.content | raw }}

            <hr />
            <a class="btn btn-secondary" href="{{ path('cabinet_product_index') }}">
                <i class="fa fa-arrow-left"></i>
                назад к списку</a>
        </div>
        <div class="col-2"></div>
    </div>

    <br />

{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $('.winecard').click(function () {
                var product_id = {{ row.id }};
                var winecard_id = $(this).attr('rel');
                var checked = $(this).is(':checked');
                var url = '{{ path("ajax_product_winecard") }}';
                var data = {
                    'product_id': product_id,
                    'winecard_id': winecard_id,
                    'checked': checked ? 1 : 0
                };

                console.log(data);
                $('#winecard_' + winecard_id).html('wtf');

                $.ajax({
                    url: url,
                    data: data
                }).done(function(json) {
                    console.log(json.status);
                    if (json.status == 'added') {
                        $('#result_' + winecard_id).html('<span class="alert-success p-1">добавлено</span>');
                    } else {
                        $('#result_' + winecard_id).html('<span class="alert-danger p-1">удалено</span>');
                    }
                });
            })

            $('.toggle_field').on('click', function() {
                var product_id = $(this).attr('rel');
                var field = $(this).attr('field');
                var url = '{{ path('ajax_product_toggle_field') }}';
                var data = {
                    'id': product_id,
                    'field': field
                };
                status_id = $(this).attr('id');
                $.ajax({
                    url: url,
                    data: data
                }).done(function(html) {
                    console.log(html);
                    // console.log($(status_id);
                    $('#'+status_id).html(html);
                });
            })
        })
    </script>
{% endblock %}
