<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('cabinet_product_index') }}">
            <i class="fa fa-fw fa-product-hunt"></i>
            <span class="nav-link-text">Продукция</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('cabinet_wine_card_index') }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Винные карты</span>
            <span class="badge badge-pill badge-secondary">{{ render(controller('App\\Controller\\Front\\WineCardController::countMyWineCards')) }}</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('cabinet_order_index') }}">
            <i class="fa fa-fw fa-shopping-cart"></i>
            <span class="nav-link-text">Мои заказы</span>
            <span class="badge badge-pill badge-secondary">{{ render(controller('App\\Controller\\Front\\OrderController::countMyOrders')) }}</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('homepage') }}">
            <i class="fa fa-fw fa-address-book-o"></i>
            <span class="nav-link-text">Производители</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link" href="{{ path('homepage') }}">
            <i class="fa fa-fw fa-globe"></i>
            <span class="nav-link-text">Страны</span>
        </a>
    </li>

</ul>
