
<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Тип вина</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z"
                  fill="#9FA2A5"/>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        {% for wineSugar in wineSugars %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[wineSugar][]" value="{{ wineSugar.id }}"
                       {{ wineSugar.id in sessionFilters.product.wineSugar ? 'checked' : '' }}
                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox">
                <span class="checkbox-el__text">{{ wineSugar.name }}</span>
            </label>
        {% endfor %}
    </div>

</div>

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Страна</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z" fill="#9FA2A5"></path>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        {% for country in countries %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[country][]" value="{{ country.id }}"
                        {{ country.id in sessionFilters.product.country ? 'checked' : '' }}
                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox"><span
                        class="checkbox-el__text">{{ country.name }}</span>
            </label>
        {% endfor %}

    </div>
</div>

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Регион</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z" fill="#9FA2A5"></path>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        {% for region in regions %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[region][]" value="{{ region.id }}"
                        {{ region.id in sessionFilters.product.region ? 'checked' : '' }}
                        class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox"><span
                        class="checkbox-el__text">{{ region.name }}</span>
            </label>
        {% endfor %}

    </div>
</div>

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Цвет вина</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z"
                  fill="#9FA2A5"/>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        {% for wineColor in wineColors %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[wineColor][]" value="{{ wineColor.id }}"
                        {{ wineColor.id in sessionFilters.product.wineColor ? 'checked' : '' }}
                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox">
                <span class="checkbox-el__text">{{ wineColor.name }}</span>
            </label>
        {% endfor %}
    </div>
</div>

{#<div class="filter__el select-def">#}
{#    <div class="select-def__top">#}
{#        <div class="select-def__val">Алкоголь (гр)</div>#}
{#        <div class="select-def__els"></div>#}
{#        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none"#}
{#             xmlns="http://www.w3.org/2000/svg">#}
{#            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z"#}
{#                  fill="#9FA2A5"/>#}
{#        </svg>#}
{#    </div>#}
{#    <div class="select-def__dropdown" style="display: none;">#}
{#        {% for alcohol in alcoholValues %}#}
{#            <label class="select-def__dropdown-el checkbox-el">#}
{#                <input name="product_filter[alcohol][]" value="{{ alcohol }}"#}
{#                        {{ alcohol in sessionFilters.product.alcohol ? 'checked' : '' }}#}
{#                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox">#}
{#                <span class="checkbox-el__text">{{ alcohol }}</span>#}
{#            </label>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Объём</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z"
                  fill="#9FA2A5"/>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        {% for volume in bottleVolumes %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[volume][]" value="{{ volume }}"
                        {{ volume in sessionFilters.product.volume ? 'checked' : '' }}
                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox">
                <span class="checkbox-el__text">{{ volume }}</span>
            </label>
        {% endfor %}
    </div>
</div>

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Сорт винограда</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z"
                  fill="#9FA2A5"/>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        <div class="select-def__els"></div>
        {% for grapeSort in grapeSorts %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[grapeSort][]" value="{{ grapeSort.id }}"
                        {{ grapeSort.id in sessionFilters.product.grapeSort ? 'checked' : '' }}
                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox">
                <span class="checkbox-el__text">{{ grapeSort.name }}</span>
            </label>
        {% endfor %}
    </div>
</div>

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Импортёр</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z"
                  fill="#9FA2A5"/>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        {% for supplier in suppliers %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[supplier][]" value="{{ supplier.id }}"
                        {{ supplier.id in sessionFilters.product.supplier ? 'checked' : '' }}
                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox">
                <span class="checkbox-el__text">{{ supplier.name }}</span>
            </label>
        {% endfor %}
    </div>
</div>

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Год производства</div>
        <div class="select-def__els"></div>
        <svg class="select-def__arr" width="10" height="6" viewBox="0 0 10 6" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0.182854 0.203253C0.29997 0.0784397 0.458793 0.00832337 0.624395 0.00832337C0.789998 0.00832337 0.94882 0.0784397 1.06594 0.203253L4.9961 4.39297L8.92625 0.203253C8.98386 0.139665 9.05278 0.0889443 9.12897 0.0540517C9.20517 0.0191592 9.28712 0.000793318 9.37004 2.51372e-05C9.45297 -0.000743043 9.53521 0.0161023 9.61196 0.049578C9.68871 0.0830537 9.75844 0.132489 9.81708 0.195001C9.87572 0.257512 9.92209 0.331847 9.95349 0.413668C9.98489 0.495489 10.0007 0.583157 9.99998 0.671558C9.99926 0.759959 9.98203 0.847322 9.9493 0.928549C9.91656 1.00978 9.86899 1.08324 9.80934 1.14466L5.43764 5.80507C5.32052 5.92988 5.1617 6 4.9961 6C4.83049 6 4.67167 5.92988 4.55455 5.80507L0.182854 1.14466C0.0657726 1.01981 0 0.850494 0 0.673955C0 0.497415 0.0657726 0.328104 0.182854 0.203253Z"
                  fill="#9FA2A5"/>
        </svg>
    </div>
    <div class="select-def__dropdown" style="display: none;">
        {% for year in years %}
            <label class="select-def__dropdown-el checkbox-el">
                <input name="product_filter[years][]" value="{{ year }}"
                        {{ year in sessionFilters.product.years ? 'checked' : '' }}
                       class="checkbox-def checkbox-el__inp filterCheckBox" type="checkbox">
                <span class="checkbox-el__text">{{ year }}</span>
            </label>
        {% endfor %}
    </div>
</div>

<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Алкоголь</div>
    </div>
</div>
<div class="filter__cost filter-cost">
    <div id="filter-alcohol__slider" class="filter-cost__slider"></div>
    <div class="filter-cost__icon">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-inside-1_252_21" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5.96851 0C5.76543 0 5.57066 0.0790176 5.42705 0.21967C5.28345 0.360322 5.20277 0.551088 5.20277 0.75V1.9365C4.67468 2.14601 4.17906 2.42672 3.73025 2.7705L2.68041 2.1765C2.50454 2.07705 2.29553 2.0501 2.09937 2.10158C1.9032 2.15305 1.73595 2.27875 1.63441 2.451L0.102918 5.049C0.00137915 5.22126 -0.0261375 5.42597 0.0264215 5.6181C0.0789804 5.81023 0.20731 5.97404 0.383181 6.0735L1.43225 6.66675C1.35372 7.21959 1.35372 7.78041 1.43225 8.33325L0.383181 8.92575C0.295997 8.975 0.21958 9.0406 0.158301 9.11879C0.0970224 9.19699 0.052083 9.28625 0.0260534 9.38147C2.38108e-05 9.47669 -0.00658544 9.576 0.00660376 9.67373C0.0197929 9.77145 0.0525218 9.86567 0.102918 9.951L1.63441 12.549C1.73595 12.7213 1.9032 12.8469 2.09937 12.8984C2.29553 12.9499 2.50454 12.923 2.68041 12.8235L3.73025 12.2295C4.17514 12.5708 4.67058 12.852 5.20277 13.0635V14.25C5.20277 14.4489 5.28345 14.6397 5.42705 14.7803C5.57066 14.921 5.76543 15 5.96851 15H9.03149C9.23457 15 9.42934 14.921 9.57295 14.7803C9.71655 14.6397 9.79723 14.4489 9.79723 14.25V13.0635C10.3253 12.854 10.8209 12.5733 11.2698 12.2295L12.3196 12.8235C12.4955 12.923 12.7045 12.9499 12.9006 12.8984C13.0968 12.8469 13.264 12.7213 13.3656 12.549L14.8971 9.951C14.9986 9.77874 15.0261 9.57403 14.9736 9.3819C14.921 9.18977 14.7927 9.02596 14.6168 8.9265L13.5677 8.33325C13.6463 7.78041 13.6463 7.21959 13.5677 6.66675L14.6168 6.07425C14.704 6.025 14.7804 5.9594 14.8417 5.88121C14.903 5.80301 14.9479 5.71375 14.9739 5.61853C15 5.52331 15.0066 5.424 14.9934 5.32627C14.9802 5.22855 14.9475 5.13433 14.8971 5.049L13.3656 2.451C13.264 2.27875 13.0968 2.15305 12.9006 2.10158C12.7045 2.0501 12.4955 2.07705 12.3196 2.1765L11.2698 2.7705C10.8209 2.42673 10.3253 2.14602 9.79723 1.9365V0.75C9.79723 0.551088 9.71655 0.360322 9.57295 0.21967C9.42934 0.0790176 9.23457 0 9.03149 0H5.96851ZM6.73426 2.4675V1.5H8.26574V2.4675C8.26583 2.62904 8.31917 2.78624 8.41782 2.9157C8.51647 3.04516 8.65516 3.13996 8.81325 3.186C9.5027 3.38766 10.1341 3.74529 10.6564 4.23C10.7762 4.3412 10.9295 4.41149 11.0934 4.43042C11.2574 4.44934 11.4232 4.41587 11.5661 4.335L12.4222 3.8505L13.1879 5.1495L12.3326 5.63325C12.1899 5.71395 12.0775 5.8376 12.0123 5.98583C11.947 6.13406 11.9323 6.29895 11.9704 6.456C12.137 7.14244 12.137 7.85756 11.9704 8.544C11.9323 8.70105 11.947 8.86594 12.0123 9.01417C12.0775 9.1624 12.1899 9.28605 12.3326 9.36675L13.1879 9.8505L12.4222 11.1495L11.5653 10.665C11.4225 10.5843 11.2569 10.5509 11.0931 10.5699C10.9293 10.5888 10.7762 10.659 10.6564 10.77C10.1341 11.2548 9.50272 11.6124 8.81325 11.814C8.65516 11.86 8.51647 11.9548 8.41782 12.0843C8.31917 12.2138 8.26583 12.371 8.26574 12.5325V13.5H6.73426V12.5325C6.73417 12.371 6.68083 12.2138 6.58218 12.0843C6.48353 11.9548 6.34484 11.86 6.18675 11.814C5.49729 11.6124 4.86591 11.2547 4.34361 10.77C4.22378 10.6588 4.07048 10.5885 3.90655 10.5696C3.74262 10.5507 3.57683 10.5841 3.4339 10.665L2.5778 11.1495L1.81206 9.8505L2.66739 9.36675C2.81012 9.28605 2.92246 9.1624 2.98771 9.01417C3.05297 8.86594 3.06765 8.70105 3.02959 8.544C2.86302 7.85756 2.86302 7.14244 3.02959 6.456C3.06765 6.29895 3.05297 6.13406 2.98771 5.98583C2.92246 5.8376 2.81012 5.71395 2.66739 5.63325L1.81206 5.1495L2.5778 3.8505L3.4339 4.335C3.57683 4.41587 3.74262 4.44934 3.90655 4.43042C4.07048 4.41149 4.22378 4.3412 4.34361 4.23C4.86593 3.74529 5.4973 3.38766 6.18675 3.186C6.34484 3.13996 6.48353 3.04516 6.58218 2.9157C6.68083 2.78624 6.73417 2.62904 6.73426 2.4675ZM5.96851 7.5C5.96851 7.10218 6.12987 6.72064 6.41707 6.43934C6.70428 6.15804 7.09382 6 7.5 6C7.90617 6 8.29571 6.15804 8.58292 6.43934C8.87013 6.72064 9.03149 7.10218 9.03149 7.5C9.03149 7.89782 8.87013 8.27936 8.58292 8.56066C8.29571 8.84196 7.90617 9 7.5 9C7.09382 9 6.70428 8.84196 6.41707 8.56066C6.12987 8.27936 5.96851 7.89782 5.96851 7.5ZM7.5 4.5C6.68765 4.5 5.90857 4.81607 5.33415 5.37868C4.75973 5.94129 4.43703 6.70435 4.43703 7.5C4.43703 8.29565 4.75973 9.05871 5.33415 9.62132C5.90857 10.1839 6.68765 10.5 7.5 10.5C8.31235 10.5 9.09143 10.1839 9.66585 9.62132C10.2403 9.05871 10.563 8.29565 10.563 7.5C10.563 6.70435 10.2403 5.94129 9.66585 5.37868C9.09143 4.81607 8.31235 4.5 7.5 4.5Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.96851 0C5.76543 0 5.57066 0.0790176 5.42705 0.21967C5.28345 0.360322 5.20277 0.551088 5.20277 0.75V1.9365C4.67468 2.14601 4.17906 2.42672 3.73025 2.7705L2.68041 2.1765C2.50454 2.07705 2.29553 2.0501 2.09937 2.10158C1.9032 2.15305 1.73595 2.27875 1.63441 2.451L0.102918 5.049C0.00137915 5.22126 -0.0261375 5.42597 0.0264215 5.6181C0.0789804 5.81023 0.20731 5.97404 0.383181 6.0735L1.43225 6.66675C1.35372 7.21959 1.35372 7.78041 1.43225 8.33325L0.383181 8.92575C0.295997 8.975 0.21958 9.0406 0.158301 9.11879C0.0970224 9.19699 0.052083 9.28625 0.0260534 9.38147C2.38108e-05 9.47669 -0.00658544 9.576 0.00660376 9.67373C0.0197929 9.77145 0.0525218 9.86567 0.102918 9.951L1.63441 12.549C1.73595 12.7213 1.9032 12.8469 2.09937 12.8984C2.29553 12.9499 2.50454 12.923 2.68041 12.8235L3.73025 12.2295C4.17514 12.5708 4.67058 12.852 5.20277 13.0635V14.25C5.20277 14.4489 5.28345 14.6397 5.42705 14.7803C5.57066 14.921 5.76543 15 5.96851 15H9.03149C9.23457 15 9.42934 14.921 9.57295 14.7803C9.71655 14.6397 9.79723 14.4489 9.79723 14.25V13.0635C10.3253 12.854 10.8209 12.5733 11.2698 12.2295L12.3196 12.8235C12.4955 12.923 12.7045 12.9499 12.9006 12.8984C13.0968 12.8469 13.264 12.7213 13.3656 12.549L14.8971 9.951C14.9986 9.77874 15.0261 9.57403 14.9736 9.3819C14.921 9.18977 14.7927 9.02596 14.6168 8.9265L13.5677 8.33325C13.6463 7.78041 13.6463 7.21959 13.5677 6.66675L14.6168 6.07425C14.704 6.025 14.7804 5.9594 14.8417 5.88121C14.903 5.80301 14.9479 5.71375 14.9739 5.61853C15 5.52331 15.0066 5.424 14.9934 5.32627C14.9802 5.22855 14.9475 5.13433 14.8971 5.049L13.3656 2.451C13.264 2.27875 13.0968 2.15305 12.9006 2.10158C12.7045 2.0501 12.4955 2.07705 12.3196 2.1765L11.2698 2.7705C10.8209 2.42673 10.3253 2.14602 9.79723 1.9365V0.75C9.79723 0.551088 9.71655 0.360322 9.57295 0.21967C9.42934 0.0790176 9.23457 0 9.03149 0H5.96851ZM6.73426 2.4675V1.5H8.26574V2.4675C8.26583 2.62904 8.31917 2.78624 8.41782 2.9157C8.51647 3.04516 8.65516 3.13996 8.81325 3.186C9.5027 3.38766 10.1341 3.74529 10.6564 4.23C10.7762 4.3412 10.9295 4.41149 11.0934 4.43042C11.2574 4.44934 11.4232 4.41587 11.5661 4.335L12.4222 3.8505L13.1879 5.1495L12.3326 5.63325C12.1899 5.71395 12.0775 5.8376 12.0123 5.98583C11.947 6.13406 11.9323 6.29895 11.9704 6.456C12.137 7.14244 12.137 7.85756 11.9704 8.544C11.9323 8.70105 11.947 8.86594 12.0123 9.01417C12.0775 9.1624 12.1899 9.28605 12.3326 9.36675L13.1879 9.8505L12.4222 11.1495L11.5653 10.665C11.4225 10.5843 11.2569 10.5509 11.0931 10.5699C10.9293 10.5888 10.7762 10.659 10.6564 10.77C10.1341 11.2548 9.50272 11.6124 8.81325 11.814C8.65516 11.86 8.51647 11.9548 8.41782 12.0843C8.31917 12.2138 8.26583 12.371 8.26574 12.5325V13.5H6.73426V12.5325C6.73417 12.371 6.68083 12.2138 6.58218 12.0843C6.48353 11.9548 6.34484 11.86 6.18675 11.814C5.49729 11.6124 4.86591 11.2547 4.34361 10.77C4.22378 10.6588 4.07048 10.5885 3.90655 10.5696C3.74262 10.5507 3.57683 10.5841 3.4339 10.665L2.5778 11.1495L1.81206 9.8505L2.66739 9.36675C2.81012 9.28605 2.92246 9.1624 2.98771 9.01417C3.05297 8.86594 3.06765 8.70105 3.02959 8.544C2.86302 7.85756 2.86302 7.14244 3.02959 6.456C3.06765 6.29895 3.05297 6.13406 2.98771 5.98583C2.92246 5.8376 2.81012 5.71395 2.66739 5.63325L1.81206 5.1495L2.5778 3.8505L3.4339 4.335C3.57683 4.41587 3.74262 4.44934 3.90655 4.43042C4.07048 4.41149 4.22378 4.3412 4.34361 4.23C4.86593 3.74529 5.4973 3.38766 6.18675 3.186C6.34484 3.13996 6.48353 3.04516 6.58218 2.9157C6.68083 2.78624 6.73417 2.62904 6.73426 2.4675ZM5.96851 7.5C5.96851 7.10218 6.12987 6.72064 6.41707 6.43934C6.70428 6.15804 7.09382 6 7.5 6C7.90617 6 8.29571 6.15804 8.58292 6.43934C8.87013 6.72064 9.03149 7.10218 9.03149 7.5C9.03149 7.89782 8.87013 8.27936 8.58292 8.56066C8.29571 8.84196 7.90617 9 7.5 9C7.09382 9 6.70428 8.84196 6.41707 8.56066C6.12987 8.27936 5.96851 7.89782 5.96851 7.5ZM7.5 4.5C6.68765 4.5 5.90857 4.81607 5.33415 5.37868C4.75973 5.94129 4.43703 6.70435 4.43703 7.5C4.43703 8.29565 4.75973 9.05871 5.33415 9.62132C5.90857 10.1839 6.68765 10.5 7.5 10.5C8.31235 10.5 9.09143 10.1839 9.66585 9.62132C10.2403 9.05871 10.563 8.29565 10.563 7.5C10.563 6.70435 10.2403 5.94129 9.66585 5.37868C9.09143 4.81607 8.31235 4.5 7.5 4.5Z"
                  fill="white" stroke="#0842B4" stroke-width="0.2"
                  mask="url(#path-1-inside-1_252_21)"/>
        </svg>
    </div>
    <input id="alcohol_from" name="product_filter[alcohol_from]" value="" type="hidden">
    <input id="alcohol_to" name="product_filter[alcohol_to]" value="" type="hidden">
</div>
<br>
<br>
<div class="filter__el select-def">
    <div class="select-def__top">
        <div class="select-def__val">Цена</div>
    </div>
</div>
<div class="filter__cost filter-cost">
    <div id="filter-cost__slider" class="filter-cost__slider"></div>
    <div class="filter-cost__icon">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-inside-1_252_21" fill="white">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5.96851 0C5.76543 0 5.57066 0.0790176 5.42705 0.21967C5.28345 0.360322 5.20277 0.551088 5.20277 0.75V1.9365C4.67468 2.14601 4.17906 2.42672 3.73025 2.7705L2.68041 2.1765C2.50454 2.07705 2.29553 2.0501 2.09937 2.10158C1.9032 2.15305 1.73595 2.27875 1.63441 2.451L0.102918 5.049C0.00137915 5.22126 -0.0261375 5.42597 0.0264215 5.6181C0.0789804 5.81023 0.20731 5.97404 0.383181 6.0735L1.43225 6.66675C1.35372 7.21959 1.35372 7.78041 1.43225 8.33325L0.383181 8.92575C0.295997 8.975 0.21958 9.0406 0.158301 9.11879C0.0970224 9.19699 0.052083 9.28625 0.0260534 9.38147C2.38108e-05 9.47669 -0.00658544 9.576 0.00660376 9.67373C0.0197929 9.77145 0.0525218 9.86567 0.102918 9.951L1.63441 12.549C1.73595 12.7213 1.9032 12.8469 2.09937 12.8984C2.29553 12.9499 2.50454 12.923 2.68041 12.8235L3.73025 12.2295C4.17514 12.5708 4.67058 12.852 5.20277 13.0635V14.25C5.20277 14.4489 5.28345 14.6397 5.42705 14.7803C5.57066 14.921 5.76543 15 5.96851 15H9.03149C9.23457 15 9.42934 14.921 9.57295 14.7803C9.71655 14.6397 9.79723 14.4489 9.79723 14.25V13.0635C10.3253 12.854 10.8209 12.5733 11.2698 12.2295L12.3196 12.8235C12.4955 12.923 12.7045 12.9499 12.9006 12.8984C13.0968 12.8469 13.264 12.7213 13.3656 12.549L14.8971 9.951C14.9986 9.77874 15.0261 9.57403 14.9736 9.3819C14.921 9.18977 14.7927 9.02596 14.6168 8.9265L13.5677 8.33325C13.6463 7.78041 13.6463 7.21959 13.5677 6.66675L14.6168 6.07425C14.704 6.025 14.7804 5.9594 14.8417 5.88121C14.903 5.80301 14.9479 5.71375 14.9739 5.61853C15 5.52331 15.0066 5.424 14.9934 5.32627C14.9802 5.22855 14.9475 5.13433 14.8971 5.049L13.3656 2.451C13.264 2.27875 13.0968 2.15305 12.9006 2.10158C12.7045 2.0501 12.4955 2.07705 12.3196 2.1765L11.2698 2.7705C10.8209 2.42673 10.3253 2.14602 9.79723 1.9365V0.75C9.79723 0.551088 9.71655 0.360322 9.57295 0.21967C9.42934 0.0790176 9.23457 0 9.03149 0H5.96851ZM6.73426 2.4675V1.5H8.26574V2.4675C8.26583 2.62904 8.31917 2.78624 8.41782 2.9157C8.51647 3.04516 8.65516 3.13996 8.81325 3.186C9.5027 3.38766 10.1341 3.74529 10.6564 4.23C10.7762 4.3412 10.9295 4.41149 11.0934 4.43042C11.2574 4.44934 11.4232 4.41587 11.5661 4.335L12.4222 3.8505L13.1879 5.1495L12.3326 5.63325C12.1899 5.71395 12.0775 5.8376 12.0123 5.98583C11.947 6.13406 11.9323 6.29895 11.9704 6.456C12.137 7.14244 12.137 7.85756 11.9704 8.544C11.9323 8.70105 11.947 8.86594 12.0123 9.01417C12.0775 9.1624 12.1899 9.28605 12.3326 9.36675L13.1879 9.8505L12.4222 11.1495L11.5653 10.665C11.4225 10.5843 11.2569 10.5509 11.0931 10.5699C10.9293 10.5888 10.7762 10.659 10.6564 10.77C10.1341 11.2548 9.50272 11.6124 8.81325 11.814C8.65516 11.86 8.51647 11.9548 8.41782 12.0843C8.31917 12.2138 8.26583 12.371 8.26574 12.5325V13.5H6.73426V12.5325C6.73417 12.371 6.68083 12.2138 6.58218 12.0843C6.48353 11.9548 6.34484 11.86 6.18675 11.814C5.49729 11.6124 4.86591 11.2547 4.34361 10.77C4.22378 10.6588 4.07048 10.5885 3.90655 10.5696C3.74262 10.5507 3.57683 10.5841 3.4339 10.665L2.5778 11.1495L1.81206 9.8505L2.66739 9.36675C2.81012 9.28605 2.92246 9.1624 2.98771 9.01417C3.05297 8.86594 3.06765 8.70105 3.02959 8.544C2.86302 7.85756 2.86302 7.14244 3.02959 6.456C3.06765 6.29895 3.05297 6.13406 2.98771 5.98583C2.92246 5.8376 2.81012 5.71395 2.66739 5.63325L1.81206 5.1495L2.5778 3.8505L3.4339 4.335C3.57683 4.41587 3.74262 4.44934 3.90655 4.43042C4.07048 4.41149 4.22378 4.3412 4.34361 4.23C4.86593 3.74529 5.4973 3.38766 6.18675 3.186C6.34484 3.13996 6.48353 3.04516 6.58218 2.9157C6.68083 2.78624 6.73417 2.62904 6.73426 2.4675ZM5.96851 7.5C5.96851 7.10218 6.12987 6.72064 6.41707 6.43934C6.70428 6.15804 7.09382 6 7.5 6C7.90617 6 8.29571 6.15804 8.58292 6.43934C8.87013 6.72064 9.03149 7.10218 9.03149 7.5C9.03149 7.89782 8.87013 8.27936 8.58292 8.56066C8.29571 8.84196 7.90617 9 7.5 9C7.09382 9 6.70428 8.84196 6.41707 8.56066C6.12987 8.27936 5.96851 7.89782 5.96851 7.5ZM7.5 4.5C6.68765 4.5 5.90857 4.81607 5.33415 5.37868C4.75973 5.94129 4.43703 6.70435 4.43703 7.5C4.43703 8.29565 4.75973 9.05871 5.33415 9.62132C5.90857 10.1839 6.68765 10.5 7.5 10.5C8.31235 10.5 9.09143 10.1839 9.66585 9.62132C10.2403 9.05871 10.563 8.29565 10.563 7.5C10.563 6.70435 10.2403 5.94129 9.66585 5.37868C9.09143 4.81607 8.31235 4.5 7.5 4.5Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.96851 0C5.76543 0 5.57066 0.0790176 5.42705 0.21967C5.28345 0.360322 5.20277 0.551088 5.20277 0.75V1.9365C4.67468 2.14601 4.17906 2.42672 3.73025 2.7705L2.68041 2.1765C2.50454 2.07705 2.29553 2.0501 2.09937 2.10158C1.9032 2.15305 1.73595 2.27875 1.63441 2.451L0.102918 5.049C0.00137915 5.22126 -0.0261375 5.42597 0.0264215 5.6181C0.0789804 5.81023 0.20731 5.97404 0.383181 6.0735L1.43225 6.66675C1.35372 7.21959 1.35372 7.78041 1.43225 8.33325L0.383181 8.92575C0.295997 8.975 0.21958 9.0406 0.158301 9.11879C0.0970224 9.19699 0.052083 9.28625 0.0260534 9.38147C2.38108e-05 9.47669 -0.00658544 9.576 0.00660376 9.67373C0.0197929 9.77145 0.0525218 9.86567 0.102918 9.951L1.63441 12.549C1.73595 12.7213 1.9032 12.8469 2.09937 12.8984C2.29553 12.9499 2.50454 12.923 2.68041 12.8235L3.73025 12.2295C4.17514 12.5708 4.67058 12.852 5.20277 13.0635V14.25C5.20277 14.4489 5.28345 14.6397 5.42705 14.7803C5.57066 14.921 5.76543 15 5.96851 15H9.03149C9.23457 15 9.42934 14.921 9.57295 14.7803C9.71655 14.6397 9.79723 14.4489 9.79723 14.25V13.0635C10.3253 12.854 10.8209 12.5733 11.2698 12.2295L12.3196 12.8235C12.4955 12.923 12.7045 12.9499 12.9006 12.8984C13.0968 12.8469 13.264 12.7213 13.3656 12.549L14.8971 9.951C14.9986 9.77874 15.0261 9.57403 14.9736 9.3819C14.921 9.18977 14.7927 9.02596 14.6168 8.9265L13.5677 8.33325C13.6463 7.78041 13.6463 7.21959 13.5677 6.66675L14.6168 6.07425C14.704 6.025 14.7804 5.9594 14.8417 5.88121C14.903 5.80301 14.9479 5.71375 14.9739 5.61853C15 5.52331 15.0066 5.424 14.9934 5.32627C14.9802 5.22855 14.9475 5.13433 14.8971 5.049L13.3656 2.451C13.264 2.27875 13.0968 2.15305 12.9006 2.10158C12.7045 2.0501 12.4955 2.07705 12.3196 2.1765L11.2698 2.7705C10.8209 2.42673 10.3253 2.14602 9.79723 1.9365V0.75C9.79723 0.551088 9.71655 0.360322 9.57295 0.21967C9.42934 0.0790176 9.23457 0 9.03149 0H5.96851ZM6.73426 2.4675V1.5H8.26574V2.4675C8.26583 2.62904 8.31917 2.78624 8.41782 2.9157C8.51647 3.04516 8.65516 3.13996 8.81325 3.186C9.5027 3.38766 10.1341 3.74529 10.6564 4.23C10.7762 4.3412 10.9295 4.41149 11.0934 4.43042C11.2574 4.44934 11.4232 4.41587 11.5661 4.335L12.4222 3.8505L13.1879 5.1495L12.3326 5.63325C12.1899 5.71395 12.0775 5.8376 12.0123 5.98583C11.947 6.13406 11.9323 6.29895 11.9704 6.456C12.137 7.14244 12.137 7.85756 11.9704 8.544C11.9323 8.70105 11.947 8.86594 12.0123 9.01417C12.0775 9.1624 12.1899 9.28605 12.3326 9.36675L13.1879 9.8505L12.4222 11.1495L11.5653 10.665C11.4225 10.5843 11.2569 10.5509 11.0931 10.5699C10.9293 10.5888 10.7762 10.659 10.6564 10.77C10.1341 11.2548 9.50272 11.6124 8.81325 11.814C8.65516 11.86 8.51647 11.9548 8.41782 12.0843C8.31917 12.2138 8.26583 12.371 8.26574 12.5325V13.5H6.73426V12.5325C6.73417 12.371 6.68083 12.2138 6.58218 12.0843C6.48353 11.9548 6.34484 11.86 6.18675 11.814C5.49729 11.6124 4.86591 11.2547 4.34361 10.77C4.22378 10.6588 4.07048 10.5885 3.90655 10.5696C3.74262 10.5507 3.57683 10.5841 3.4339 10.665L2.5778 11.1495L1.81206 9.8505L2.66739 9.36675C2.81012 9.28605 2.92246 9.1624 2.98771 9.01417C3.05297 8.86594 3.06765 8.70105 3.02959 8.544C2.86302 7.85756 2.86302 7.14244 3.02959 6.456C3.06765 6.29895 3.05297 6.13406 2.98771 5.98583C2.92246 5.8376 2.81012 5.71395 2.66739 5.63325L1.81206 5.1495L2.5778 3.8505L3.4339 4.335C3.57683 4.41587 3.74262 4.44934 3.90655 4.43042C4.07048 4.41149 4.22378 4.3412 4.34361 4.23C4.86593 3.74529 5.4973 3.38766 6.18675 3.186C6.34484 3.13996 6.48353 3.04516 6.58218 2.9157C6.68083 2.78624 6.73417 2.62904 6.73426 2.4675ZM5.96851 7.5C5.96851 7.10218 6.12987 6.72064 6.41707 6.43934C6.70428 6.15804 7.09382 6 7.5 6C7.90617 6 8.29571 6.15804 8.58292 6.43934C8.87013 6.72064 9.03149 7.10218 9.03149 7.5C9.03149 7.89782 8.87013 8.27936 8.58292 8.56066C8.29571 8.84196 7.90617 9 7.5 9C7.09382 9 6.70428 8.84196 6.41707 8.56066C6.12987 8.27936 5.96851 7.89782 5.96851 7.5ZM7.5 4.5C6.68765 4.5 5.90857 4.81607 5.33415 5.37868C4.75973 5.94129 4.43703 6.70435 4.43703 7.5C4.43703 8.29565 4.75973 9.05871 5.33415 9.62132C5.90857 10.1839 6.68765 10.5 7.5 10.5C8.31235 10.5 9.09143 10.1839 9.66585 9.62132C10.2403 9.05871 10.563 8.29565 10.563 7.5C10.563 6.70435 10.2403 5.94129 9.66585 5.37868C9.09143 4.81607 8.31235 4.5 7.5 4.5Z"
                  fill="white" stroke="#0842B4" stroke-width="0.2"
                  mask="url(#path-1-inside-1_252_21)"/>
        </svg>
    </div>
    <input id="price_from" name="product_filter[price_from]" value="" type="hidden">
    <input id="price_to" name="product_filter[price_to]" value="" type="hidden">
</div>


{#отображаем все фильтры из базы#}

{#в должны быть:#}

{#- емкость (объем)#}
{#- тип (красное, белое#}
{#- урожай#}
{#- сахар#}
{#- сорт (тут есть разные варианты)#}
{#- регион#}
{#- крепость#}
