{% extends 'layout_catalog.html.twig' %}

{% block title %}BigWine Catalog{% endblock %}

{% block body %}
    <div class="container-def">
        <div class="sec-catalog__wrap">
            <div class="sec-catalog__content">
                <div class="sec-catalog__mob">
                    <div class="sec-catalog__mob-title">Каталог</div>
                    <div class="sec-catalog__mob-filt btn-icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.875 8.5H1M2.875 8.5C2.875 9.53553 3.71447 10.375 4.75 10.375C5.78553 10.375 6.625 9.53553 6.625 8.5M2.875 8.5C2.875 7.46447 3.71447 6.625 4.75 6.625C5.78553 6.625 6.625 7.46447 6.625 8.5M14.125 14.125C14.125 13.0895 13.2855 12.25 12.25 12.25C11.2145 12.25 10.375 13.0895 10.375 14.125M14.125 14.125C14.125 15.1605 13.2855 16 12.25 16C11.2145 16 10.375 15.1605 10.375 14.125M14.125 14.125H16M10.375 14.125H1M6.625 8.5H16M14.125 2.875C14.125 1.83947 13.2855 1 12.25 1C11.2145 1 10.375 1.83947 10.375 2.875M14.125 2.875C14.125 3.91053 13.2855 4.75 12.25 4.75C11.2145 4.75 10.375 3.91053 10.375 2.875M14.125 2.875L16 2.875M10.375 2.875H1"
                                  stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>

                <div class="sec-catalog__sidebar filter" >

                    <form method="post" id="filtersForm" action="{{ path('cabinet_save_filter_product') }}">

                    <div class="filter__mob">
                        <div class="filter__mob-title">Фильтр</div>
                        <div class="filter__mob-btn">
                            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="26.583" width="37.5942" height="3.41765" rx="1.70883" transform="rotate(-45 0 26.583)" fill="#0842B4"></rect>
                                <rect width="37.5942" height="3.41765" rx="1.70883" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 29 26.583)" fill="#0842B4"></rect>
                            </svg>
                        </div>
                    </div>

                    {{ render(controller('App\\Controller\\Front\\CatalogController::renderFilters')) }}

                    <div class="filter__bottom"><a id="submitFilterForm"
                                class="filter__btn btn-def btn-def_3"
                                href="javascript: submitFilter();"><span>Поиск</span></a><a
                                class="filter__btn btn-def_text btn-def btn-def_3"
                                href="{{ path('catalog_reset_product_filter') }}"><span>Сбросить</span></a>
                    </div>
                    </form>
                </div>

                <!-- div class="sec-catalog__sidebar filter" -->

                <div class="sec-catalog__body">
                    <div id="productsList" data-rel="{{ path('catalog_product_index') }}" class="catalog row">
                        {{ include('themes/bigwine/front/catalog/products.html.twig') }}
                    </div>
                </div>
                <!-- div class="sec-catalog__body"-->
            </div> <!-- -->
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        $('#submitFilterForm').on('click', function () {
            $('#filtersForm').submit();
        });

        $('#countrySelector').on('change', function () {
            $('#filtersForm').attr('action', '{{ path('cabinet_save_filter_product_country') }}');
            $('#filtersForm').submit();
        });

        $('#regionSelector').on('change', function () {
            $('#filtersForm').submit();
        });

        $('#appellationSelector').on('change', function () {
            $('#filtersForm').submit();
        });

    });

    function submitFilter() {
        console.log('buuuu');
    }
</script>
{% endblock %}
