{% for row in pagination %}
    <div class="catalog__el col-6 col-lg-4 col-xl-3">
        <div class="product-def">
            <div class="product-def__top">
                <a class="product-def__fav" href="#">
                    <svg width="28" height="25" viewBox="0 0 28 25" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.76834 3.80151C1.41055 6.20352 1.41055 10.098 3.76834 12.5L14.0751 23L24.3817 12.5C26.7395 10.098 26.7394 6.20352 24.3817 3.80151C22.0239 1.3995 18.2011 1.3995 15.8433 3.80151L14.0751 5.60309L12.3067 3.80151C9.94887 1.3995 6.12613 1.3995 3.76834 3.80151Z"
                              stroke="#C8D4FF" stroke-width="2.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>
                <img class="product-def__country"
                     alt="{{ row.country.name }}"
                     title="{{ row.country.name }}"
                     src="{{ asset('svg/flags/' ~ row.country.codeAlpha2 ~ '.svg') }}">
            </div>
            <a class="product-def__body" href="#">
                <img class="product-def__img" style="height: 164px;"
                     src="{{ asset('/uploads/' ~ row.announcePic) }}" >
                <div class="product-def__title">{{ row.name }}<br> {{ row.vendor }} {{ row.year }}</div>
                <div class="product-def__info">{{ row.wineColor }}, {{ row.wineSugar }}</div>
                <div class="product-def__cost">от {{ row.price }} EUR</div>
                <div class="product-def__bottom"><img class="product-def__brand"
                                                      src="{{ asset('/bigwine/img/1.png') }}" alt=""></div>
            </a>
        </div>
    </div>
{% endfor %}
<div class="catalog__el col-12 col-lg-12 col-xl-12">
    {{ knp_pagination_render(pagination) }}
</div>